<html>
  <head>
    <title>Pixelsoul Invitation</title>
  </head>
  <body>
    <div>
      <h1>Pixelsoul Invitation</h1>
      <p>Dear,</p>
      <p>We are excited to invite you to join pixelsoul.gg!</p>
      <p>As a member of our website, you'll gain access to a variety of features and benefits</p>
      <p>To join, simply follow these steps:</p>
      <ol>
        <li>Visit our website at https://dev.pixelsoul.gg?refer={{referralCode}}</li>
        <li>Click on the "Sign Up" button.</li>
        <li>Fill out the registration form with your information.</li>
        <li>Start exploring and enjoying all the features our website has to offer!</li>
      </ol>
      <p>We can't wait to have you as a member of our community.</p>
      <p>Best regards,</p>
      <p>{{senderName}}</p>
    </div>
  </body>
</html>