/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lexend:wght@400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=VT323&family=Silkscreen:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.nft-table tr > th, 
.nft-table tr > td {
  padding: 16px 0px !important;
  margin: 0px !important;  
 
} 

.game-table tr > th {
  background: #F9FAFB;
  text-transform: capitalize;
  border-bottom: 1px solid #EAECF0;
  font-weight: 500;
  font-size: 16px;
  font-family: "VT323";
}

.game-table tr > td {
  border-bottom: 1px solid #EAECF0;
  font-weight: 500;
  padding: 16px 24px;
  font-size: 16px;
  font-family: "VT323";
}

.menu-sidebar {  
  padding: 11px !important; 
  color: white;
}



.menu-sidebar:hover > p {
  color: white
}


.menu-sidebar > div[id="onhover"] {
  display: none;
}

.menu-sidebar:hover > div[id="initial"] {
  display: none;
}
.menu-sidebar:hover > div[id="onhover"] {
  display: block;
  margin-left: 0px;
}

.menu-sidebar-active {
  background-color: #4691FF!important;
  border-radius: 6px;
}
.menu-sidebar-active > div[id="initial"] {
  display: none;
}

.menu-sidebar-active > div[id="onhover"] {
  display: block;
  margin-left: 0px;
}

.menu-text-active {
  color: '#fff' !important;
}

.tab-steam-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #F9FAFB;
  border: 2px solid #4691FF;
  box-shadow: 0px 4px 4px rgba(75, 255, 255, 0.5);
  border-radius: 20px 0px 0px 20px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.tab-nft-active {
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #F9FAFB;
  border-left: 2px solid;
  border: 2px solid #4691FF;
  box-shadow: 0px 4px 4px rgba(75, 255, 255, 0.5);
  border-radius: 0px 20px 20px 0px;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #98A2B3;
}

.fixed-content {
  width: fit-content !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forge-table-detail tr > th,
.forge-table-detail tr > td {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #101828;
  padding-left: 0px;
  padding-right: 50px;
}
.forge-table-detail tr > th {
  color: #026AA2;
  font-weight: 500;
  text-transform: none;
}
.slider-1 .slick-list .slick-track >.slick-slide  {
  margin-right: 25px;
}

.challenge-table > thead > tr > th {
  background-color: transparent;
  padding: 10px 0px;
}

.challenge-table > tbody > tr > td {
  padding: 12px 0px
}

.pixel-active {
  border: 2px solid #4691FF;
  box-shadow: 0px 4px 4px rgba(75, 255, 255, 0.5);
}


.rbc-header, .rbc-day-bg, .rbc-date-cell {
  /* margin-right: 8px !important; */
}

.rbc-day-bg {
  font-family: VT323;
  font-size: 22px;
}

.rbc-calendar {
    box-sizing: inherit;
    font-family: VT323;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 0px solid #ddd !important;
}
.rbc-month-view {
  border: none !important;
}
.rbc-header {
  overflow: hidden;
  flex: 1 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
  border-bottom: 1px solid #ddd;
  border-right: 0px !important;
  border-left: 0px !important;
  text-align: end !important;
  padding-top: 5px !important;
  padding-bottom: 17px;
  /* padding-right: 10px !important; */
  height: 50px !important;
  text-align: end;
  align-items: end;
}
.rbc-date-cell {
  /* padding-right: 10px !important; */
}
.rbc-header, .rbc-button-link {
  font-size: 18px !important;
}

.active-view-calendar {
  border: 1px solid #1890FF !important;
  color: #1890FF !important;
}
.input-placeholder {
  font-size: 16px !important;
  color: #98A2B3 !important;
}